/.idea/
/.env/
/.dump.json
/logs
/media/_autofixture/
/media/documents/
/media/downloads/
/media/feeds/
/media/mediastore/
/media/mqm_uploads/
/media/users/
/media/signup/
/node_modules/
/search_index/
/static/dist/
/static/libs/
/static/styles/.sass-cache/
/server_settings.py
.DS_Store
*.pyc
db.sqlite
mind.eml
/src/website/local_settings.py
/media/localminds
/media/funding/
local_mind.json
db 3.sqlite
db.sqliteold
mind.iml
mind.eml
media/media/media/images/serviceNewlayout.png
media/media/media/images/serviceNewlayout_png_100x100_crop_upscale_q85.jpg
media/media/media/images/serviceNewlayout_png_720x480_crop_upscale_q85.jpg
/static/lib/
