<div class="fullheight">
    <div class="col-sm-3 col-md-3 col-lg-2 fullheight sidepannel" ng-class="{true:'white', false:'black'}[details]">
        <h1 class="sitename">Samuel Hipwell</h1>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-10 fullheight mainarea">
        <div class="projects col-md-10 col-md-offset-1">
            <div class="item" ng-repeat="proj in projects" style="background-image:url({$ proj.cover.url $});">
                <p>{$ proj.title $}</p>
            </div>
        </div>
    </div>
</div>

