body {
  position: absolute;
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Source Code Pro', monospace; }

.namesect {
  width: 100%;
  text-align: center;
  position: relative;
  height: 100px;
  top: 5%; }
  .namesect .sitename {
    position: relative;
    display: inline-block;
    width: 150px;
    text-align: left;
    transition: color 2s;
    margin-top: 0;
    margin-bottom: 0; }
    .namesect .sitename.top {
      letter-spacing: 2px; }
    .namesect .sitename.bottom {
      letter-spacing: -1px; }

.fullheight {
  height: 100%; }
  .fullheight.sidepannel {
    background-image: url(../img/dark-denim.png);
    transition: background-color 2s; }
    .fullheight.sidepannel.black {
      background-color: #616161;
      border-right: solid lime; }
      .fullheight.sidepannel.black .sitename {
        color: white; }
    .fullheight.sidepannel.white {
      background-color: white; }
      .fullheight.sidepannel.white .sitename {
        color: black; }
  .fullheight.mainarea {
    background-image: url(../img/mooning.png);
    background-size: 50%;
    transition: background-color 2s; }
    .fullheight.mainarea.black {
      background-color: black; }
    .fullheight.mainarea.white {
      background-color: white; }
    .fullheight.mainarea .projects {
      position: relative;
      margin-top: 20px;
      height: calc( 100% - 40px);
      overflow-x: hidden;
      overflow-y: auto; }
      .fullheight.mainarea .projects .item {
        position: relative;
        display: inline-block;
        height: 200px;
        width: 200px;
        margin-right: 25px;
        margin-bottom: 25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        .fullheight.mainarea .projects .item p {
          font-size: 16px; }
        .fullheight.mainarea .projects .item .item-hover {
          position: absolute;
          display: none;
          width: 200px;
          height: 200px;
          z-index: 10;
          background-color: transparent;
          transition: background-color 2s;
          -webkit-transition: background-color 2s; }
          .fullheight.mainarea .projects .item .item-hover p {
            width: 200px;
            height: 200px;
            color: white;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            cursor: pointer; }
        .fullheight.mainarea .projects .item:hover .item-hover {
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.8);
          transition: background-color 2s;
          -webkit-transition: background-color 2s; }
        .fullheight.mainarea .projects .item img {
          position: relative;
          width: 100%;
          height: 100%; }

.controllsect {
  width: 100%;
  height: 300px;
  position: relative;
  top: 20%;
  text-align: right; }
  .controllsect p {
    font-size: 20px;
    margin-right: 10px; }
  .controllsect .back {
    color: white;
    text-transform: uppercase;
    cursor: pointer; }

.margintop50 {
  margin-top: 50px; }

.mainsection {
  overflow-x: hidden;
  overflow-y: scroll; }
  .mainsection .margbtm {
    margin-bottom: 100px; }

.profileblock .title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px; }
.profileblock .headline {
  font-size: 20px;
  font-style: italic; }
.profileblock .maintext {
  font-size: 16px;
  text-align: left; }

.img-space {
  margin-top: 15px;
  margin-bottom: 15px; }

.links {
  list-style: none;
  margin-right: 10px; }
  .links .link-item {
    font-size: 15px;
    margin-right: 10px; }
    .links .link-item a {
      text-decoration: none; }
    .links .link-item.bold {
      text-transform: uppercase;
      color: white; }

.themes {
  list-style: none;
  margin-right: 10px; }
  .themes .theme-item {
    font-size: 15px;
    margin-right: 10px; }
    .themes .theme-item.bold {
      text-transform: uppercase;
      color: white; }

@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
  .fullheight.mainarea {
    background-image: url(../img/mooning.png);
    background-size: 50%;
    transition: background-color 2s;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-table; }

  .fullheight.mainarea .projects .item {
    width: 255px; } }
/* Landscape */
@media screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) {
  .fullheight.mainarea {
    background-image: url(../img/mooning.png);
    background-size: 50%;
    transition: background-color 2s;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-table; }

  .fullheight.mainarea .projects .item {
    width: 255px; } }

/*# sourceMappingURL=style.css.map */
